# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.class
*.pyc
*.o

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variables and settings
.env
.env.local

# Ignore IDE/editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# # Ignore build directories
# build/
# dist/

# Ignore coverage reports
coverage/

# Ignore personal settings files
*.iml
*.sublime-workspace
*.sublime-project
