
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-variation-settings:"slnt" 0;
} */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;    
    font-style: normal;
    font-variation-settings:"slnt" 0;
} 
.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

p { line-height: 1.5; }
.top_banner_list ul,.top_banner_list2 ul { padding-left:0}
.top_banner_list li { display:inline-block; margin-right:20px;color:#4c4c4c;font-weight: 500;}
.top_banner_list li span { display:inline-block;}
.top_banner_list2 li { display:inline-block; margin-right:20px;color:#4c4c4c;font-weight: 600;}

.list { display:inline-block; margin-right:20px; }
.list li { display:inline-block; margin-right:20px; font-size:18px; }
.list li span { display:inline-block; }

/*margin*/
.mt-6 { margin-top: 4rem !important; }
.mt-7 { margin-top: 5rem !important; }
.mt-8 { margin-top: 6rem !important; }
.mt-9 { margin-top: 7rem !important; }
.mt-10{ margin-top: 8rem !important; }
.mt-11{ margin-top: 9rem !important; }
.mt-12{ margin-top: 10rem !important;}


@media (max-width: 575px) { 
    .mt-xs-6 { margin-top: 4rem !important; }
    .mt-xs-7 { margin-top: 5rem !important; }
    .mt-xs-8 { margin-top: 6rem !important; }
    .mt-xs-9 { margin-top: 7rem !important; }
    .mt-xs-10{ margin-top: 8rem !important; }
    .mt-xs-11{ margin-top: 9rem !important; }
    .mt-xs-12{ margin-top: 10rem !important;}
}

@media (min-width: 576px) { 
    .mt-sm-6 { margin-top: 4rem !important; }
    .mt-sm-7 { margin-top: 5rem !important; }
    .mt-sm-8 { margin-top: 6rem !important; }
    .mt-sm-9 { margin-top: 7rem !important; }
    .mt-sm-10{ margin-top: 8rem !important; }
    .mt-sm-11{ margin-top: 9rem !important; }
    .mt-sm-12{ margin-top: 10rem !important;}
}

@media (min-width: 768px) { 
    .mt-md-6 { margin-top: 4rem !important; }
    .mt-md-7 { margin-top: 5rem !important; }
    .mt-md-8 { margin-top: 6rem !important; }
    .mt-md-9 { margin-top: 7rem !important; }
    .mt-md-10{ margin-top: 8rem !important; }
    .mt-md-11{ margin-top: 9rem !important; }
    .mt-md-12{ margin-top: 10rem !important;}
}

@media (min-width: 992px) {
    .mt-lg-6 { margin-top: 4rem !important; }
    .mt-lg-7 { margin-top: 5rem !important; }
    .mt-lg-8 { margin-top: 6rem !important; }
    .mt-lg-9 { margin-top: 7rem !important; }
    .mt-lg-10{ margin-top: 8rem !important; }
    .mt-lg-11{ margin-top: 9rem !important; }
    .mt-lg-12{ margin-top: 10rem !important;}
 }
 @media (max-width: 1200px) {
    .mt-xl-6 { margin-top: 4rem !important; }
    .mt-xl-7 { margin-top: 5rem !important; }
    .mt-xl-8 { margin-top: 6rem !important; }
    .mt-xl-9 { margin-top: 7rem !important; }
    .mt-xl-10{ margin-top: 8rem !important; }
    .mt-xl-11{ margin-top: 9rem !important; }
    .mt-xl-12{ margin-top: 10rem !important;}
}
@media (min-width: 1400px) {
    .mt-xxl-6 { margin-top: 4rem !important; }
    .mt-xxl-7 { margin-top: 5rem !important; }
    .mt-xxl-8 { margin-top: 6rem !important; }
    .mt-xxl-9 { margin-top: 7rem !important; }
    .mt-xxl-10{ margin-top: 8rem !important; }
    .mt-xxl-11{ margin-top: 9rem !important; }
    .mt-xxl-12{ margin-top: 10rem !important;}
 }

.my-6 { margin-top: 4rem !important;  margin-bottom: 4rem !important; }
.my-7 { margin-top: 5rem !important;  margin-bottom: 5rem !important; }
.my-8 { margin-top: 6rem !important;  margin-bottom: 6rem !important; }
.my-9 { margin-top: 7rem !important;  margin-bottom: 7rem !important; }
.my-10{ margin-top: 8rem !important;  margin-bottom: 8rem !important; }
.my-11{ margin-top: 9rem !important;  margin-bottom: 9rem !important; }
.my-12{ margin-top: 10rem !important; margin-bottom: 10rem !important;}

.pt-6 { padding-top: 4rem !important;}
.pt-7 { padding-top: 5rem !important;}
.pt-8 { padding-top: 6rem !important;}
.pt-9 { padding-top: 7rem !important;}
.pt-10{ padding-top: 8rem !important;}
.pt-11{ padding-top: 9rem !important;}
.pt-12{ padding-top: 10rem !important;}

.pb-6 { padding-bottom: 4rem !important;}
.pb-7 { padding-bottom: 5rem !important;}
.pb-8 { padding-bottom: 6rem !important;}
.pb-9 { padding-bottom: 7rem !important;}
.pb-10{ padding-bottom: 8rem !important;}
.pb-11{ padding-bottom: 9rem !important;}
.pb-12{ padding-bottom: 10rem !important;}

.py-6 { padding-top: 4rem !important;  padding-bottom: 4rem !important; }
.py-7 { padding-top: 5rem !important;  padding-bottom: 5rem !important; }
.py-8 { padding-top: 6rem !important;  padding-bottom: 6rem !important; }
.py-9 { padding-top: 7rem !important;  padding-bottom: 7rem !important; }
.py-10{ padding-top: 8rem !important;  padding-bottom: 8rem !important; }
.py-11{ padding-top: 9rem !important;  padding-bottom: 9rem !important; }
.py-12{ padding-top: 10rem !important; padding-bottom: 10rem !important;}

.p-6 {  padding: 4rem !important;}
.p-7 {  padding: 5rem !important;}
.p-8 {  padding: 6rem !important;}
.p-9 {  padding: 7rem !important;}
.p-10 { padding: 8rem !important;}
.p-11 { padding: 9rem !important;}
.p-12 { padding: 10rem !important;}

.w-30{width:30px;}

.bg-yellow {
    background:#ECEB98;
    color:#fff;
    padding:2px 10px;
}
.bg-gray{ background:#f1f1f1; }

.bg-gray{ background:#f2f2f2; }

.bg-orange { background:#FCA732; } 
.bg-green { background:#0b786d; } 
.bg-green2 { background:#0fddc8; } 
.bg-green3 { background:#0FE6D0; } 
.bg-green2 { background:#77fff1; } 
.bg-greendark{background:#063732;}
.bg-blue { background:#3773EC; } 
.bg-blue1 { background:#3D7294; } 
.bg-blue2 { background:#15C4C5; } 
.bg-pink { background:#E75799 }
.bg-white { background:#fff}
.bg-yellowLight{background:#FEF9F5}
.bg-specialoffer{background:#FCE45B}

.whiteText,.text-white { color: #fff;}
.greenText { color: #73AF2F; } 
.yellowText,.text-yellow { color: #f5ba58 }
.text-gray { color: #666 }
.text-gray-light { color: #999 }
.text-gray-light-more { color: #bababa }
.text-black { color:#000 }
.text-dark { color:#1f1f1f }
.text-red { color:#E73E41}
.text-blue { color:#3773EC; } 
.text-banner { color: #4c4c4c }

.yellow-grad-text {
    background: #F5BA58;
    background: linear-gradient(to right, #F5BA58 0%, #FF6A00 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
letter-spacing:1px;
}


.green-dark,
.text-green { color:#063732 }

.green-mid,
.text-green-mid { color:#0C9587 }


.text-grad { 
    color: #0b786d; background-image: -webkit-linear-gradient(45deg, #0b786d 0%, #0fddc8 100%); 
    background-clip: text; -webkit-background-clip: text; 
    text-fill-color: transparent; -webkit-text-fill-color: transparent;
}

.banner-gradient{
    background: rgb(209,251,247);
    background: radial-gradient(circle, rgba(209,251,247,1) 58%, rgba(255,255,255,1) 100%);
}

.box{ min-height:180px; }

.b-0 { border:0; }
.bb1 { border-bottom:1px solid #f1f1f1; }

.bdr1 { 
    border:1px solid #0b786d;
    border-radius: 25px;
    /* padding: 5px; */
    box-sizing: border-box;
}
.bdr-btm-black { border-bottom:1px solid #000 }
.r-20{border-radius:20px;}

.box-shadow{
    -webkit-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.05);
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.05);
}

.box-shadow2{
    -webkit-box-shadow: 5px 5px 16px 8px rgba(0,0,0,0.07);
-moz-box-shadow: 5px 5px 16px 8px rgba(0,0,0,0.07);
box-shadow: 5px 5px 16px 8px rgba(0,0,0,0.07);
}

.w-box { min-height:260px }

.w-box2,.w-box3,.w-box4,.w-box5,.w-box6,.w-box7 {
    min-height: 150px;
}
.w-box2 {
    border-left:3px solid red;
}
.w-box3 {
    border-left:3px solid green;
}
.w-box4 {
    border-left:3px solid blue;
}
.w-box5 {
    border-left:3px solid orange;
}
.w-box6 {
    border-left:3px solid #E75799
}
.w-box7 {
    border-left:3px solid #15C4C5
}

.fw-500 { font-weight:500; }
.f-18 { font-size:18px; }
.c-p { cursor:pointer }

.address{
    width:300px;padding:20px; margin: auto;
}



/*
    bootstrap extra styles
*/
@media (min-width: 1200px) {
    .fs-4-0,.fs-regular {
        font-size: 1.1rem !important;
    }
    .fs-4-2 {
        font-size: 1.3rem !important;
    }
    .fs-4-1 {
        font-size: .9rem !important;
    }    
    .fs-medium,.fs-med {
        font-size:1rem !important;
    }
    .fs-small {
        font-size:.5rem !important; 
    }
    .fs-4 {
        font-size: 1.2rem !important;
    }    
    .fs-5,.fs-5-0 {
        font-size: 2.5rem !important;
    }
    .fs-6 {
        font-size: 3.5rem !important;
    }
    .fs-16{
        font-size:16px !important; line-height:38px;
    }
    .fs--18{
        font-size:18px !important; line-height:38px;
    }
    .fs-20{
        font-size:20px !important; line-height:38px;
    }
    .fs-24{
        font-size:24px !important; line-height:38px;
    }
    .fs-30{
        font-size:30px !important; line-height:38px;
    }
    .fs-32{
        font-size:32px !important; line-height:38px;
    }
    .fs-35{
        font-size:35px !important; line-height:38px;
    }
    .fs-49{
        font-size:48px !important; line-height:60px;
    }
    .fs--1 {
        font-size: 1rem !important;
    }
    .fs--2 {
        font-size: 2rem !important;
    }
    .fs--3 {
        font-size: 3rem !important;
    }
    .fs--4 {
        font-size: 4rem !important;
    }
    .fs--5 {
        font-size: 5rem !important;
    }
}
@media (max-width: 1199px) {
    .fs-5 {
        font-size: 2rem !important;
    }
    .fs-6 {
        font-size: 2.5rem !important;
    }
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }
  #blinking-text {
    animation: blink 2s linear infinite;
  }






/***********
Typewriting
*************/
.typewriter {
    /* background-color: #2ca32c; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    display: flex;
}

.typewriter h1 {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(13) infinite alternate,
    blink 800ms steps(13) infinite normal;
    border-right: 5px solid black;
    color:#73AF2F;
}

@keyframes typewriter {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

@keyframes blink {
    from {
        border-color: #F5BA58;
    }
    to {
        border-color: transparent;
    }
}

.yellow-box{
    background-color:#e7b40e;
    color: #fff !important;
    /* font-size:18px; */
    padding:12px;
    border-radius:50px;
}
.green-box{
    font-family: 'Satoshi';
    background-color:#ddfff6;
    color: #063732;
    font-weight:700;
    /* font-size:18px; */
    padding:12px 30px;
    border-radius:50px;

}
.yellow-grad {
    background: rgb(252,228,91);
    background: linear-gradient(138deg, rgba(252,228,91,1) 0%, rgba(236,189,49,1) 100%);
    color: #000;
    font-weight:500;
    font-size:16px;
    padding:5px 15px;
    border-radius:50px;
    margin-left:10px;

    background-image: linear-gradient(
        45deg,
        hsl(29deg 100% 50%) 0%,
        hsl(35deg 100% 53%) 9%,
        hsl(40deg 100% 58%) 18%,
        hsl(46deg 98% 63%) 27%,
        hsl(50deg 95% 66%) 36%,
        hsl(49deg 91% 63%) 45%,
        hsl(47deg 87% 60%) 55%,
        hsl(45deg 84% 57%) 64%,
        hsl(43deg 86% 55%) 73%,
        hsl(40deg 91% 53%) 82%,
        hsl(38deg 96% 51%) 91%,
        hsl(35deg 100% 50%) 100% 
      );
}
.special-grad{

}
.py-100{
    padding-top:100px;padding-bottom:100px;
}
.px-50{
    padding-left:50px;padding-right:50px;
}
.special-grad{
    border:5px solid #E9B91F; border-radius:20px;  ;
    /* background-image: linear-gradient(
  45deg,
  hsl(29deg 100% 50%) 0%,
  hsl(35deg 100% 53%) 9%,
  hsl(40deg 100% 58%) 18%,
  hsl(46deg 98% 63%) 27%,
  hsl(50deg 95% 66%) 36%,
  hsl(49deg 91% 63%) 45%,
  hsl(47deg 87% 60%) 55%,
  hsl(45deg 84% 57%) 64%,
  hsl(43deg 86% 55%) 73%,
  hsl(40deg 91% 53%) 82%,
  hsl(38deg 96% 51%) 91%,
  hsl(35deg 100% 50%) 100% 
);*/
    /* background-image:url(/public/images/special.jpg) */
}
.red-box{
    background-color:red;
    color: #fff;
    font-weight:500;
    font-size:16px;
    padding:5px 10px;
    border-radius:50px;
    margin-left:10px;
}
.shadow-box{
    -webkit-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.05);
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.05);
}
.box-des{position:relative;height:300px; background:#fff;width:100%;}
.box-des4{position:relative;height:380px; background:#fff;width:100%;}
.mt--100 { margin-top:-100px;z-index:1; position:absolute; width:100%; border-radius:20px; }
.br-20 { border-radius:20px; }
/* .p-10 { padding:10px; } */
.list-disc ul,li.list-disc{
    list-style-type: disc;
}

.course-box{
    border:1px solid #e1ebea;
    border-radius:30px;
    /* padding: 20px 40px; */
    background: #f9f9f9;
}
.course-fee{
    border-radius:30px;
    padding: 20px 40px;
}
.course-box.shadow-box{
    -webkit-box-shadow: 0px 10px 0px 0px rgba(225,235,234,1);
    -moz-box-shadow: 0px 10px 0px 0px rgba(225,235,234,1);
    box-shadow: 0px 10px 0px 0px rgba(225,235,234,1);
}

.line-1{ line-height:40px; }

img.img_icon{width:54px;height:60px}

.green-light-box{ background:#ddfff6; padding:30px 20px; width:100%; border-radius:20px;   
     margin-bottom: 10px; margin-right:15px; margin-left:25px; }

.m-w-1400 {
    max-width:1400px;
    margin-left:auto;
    margin-right:auto;
}
.m-w-900{
    max-width:900px;
}
.banner_img{
    min-height:80vh;
}
.about_banner_img {
    
    width: 100%;
}
.phone_no {
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 50px;
    overflow: hidden;
    width:400px;
    text-align:center;
    border:2px solid #0EBBAA;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px; padding-right:20px;
}

.bdr-left{
    /* border-left:1px solid #ccc;  */
    height:60%;
    width:2px;
    background:#ccc
}
.border-right::after{
    border-right: 3px solid #E9E9E9;
    height: 60%;
    top:100px;
    position:absolute;
}
.tab_bg{
    background:#fff;
    -webkit-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.05);
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.05);
}
.banner-right{
    height:670px;overflow:hidden;
    border-bottom-right-radius:40px;
    border-top-right-radius:40px;
    display:flex;
}
.scrum_banner_img {
    height:520px; 
    overflow: hidden; 
    border-bottom-right-radius: 40px; 
    border-top-right-radius: 40px; 
    display: flex; 
}
.microsoft365_banner_img {
    height:640px ; 
    overflow: hidden; 
    border-bottom-right-radius: 40px; 
    border-top-right-radius: 40px; 
    display: flex; 
}
.cloudcomputing-right{
    height:705px; overflow:hidden;
    border-bottom-right-radius:40px;
    border-top-right-radius: 40px;
    display:flex;
}
.scrum_img{
    border-radius: 50px; 
}
.microsoft_img{
    border-radius: 15px; 
}

.line-50{line-height:50px;}

.mx-15{margin-left:15px;margin-right:15px;}


/****************
TABLE
***************************/
  h2 {
    font-size: 26px;
    margin: 20px 0;
    /* text-align: center; */
    small {
      font-size: 0.5em;
    }
  }
  
  .responsive-table {
    li {
      border-radius: 3px;
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
    .table-header {
      background-color: #0C9587;
      font-size: 14px; color:#fff;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-01 {
      flex-basis: 10%;
    }
    .col-02 {
      flex-basis: 30%;
    }
    .col-03 {
      flex-basis: 10%;
    }
    .col-04 {
      flex-basis: 10%;
    }
    .col-05 {
        flex-basis: 10%;
      }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
}

.m-h-200 { min-height:200px }
    .box-des2 { position:relative; height:200px; background:#fff; width:100%; }
    .box-des3 { position:relative; height:250px; background:#fff; width:100%; }
    .box-des4 { position:relative; height:290px; background:#fff; width:100%; }

@media all and (min-width: 1200px) {
    .course-box{ padding: 20px 40px; }  
    .box-des { position:relative; height:270px; background:#fff; width:100%; }
    .box-des2 { position:relative; height:140px; background:#fff; width:100%; }
    .box-des3 { position:relative; height:250px; background:#fff; width:100%; }
}

@media all and (max-width: 1199px) {
    .course-box{ padding: 20px; } 

    .box-des  { position:relative; height:350px; background:#fff; width:100%; }
    .box-des2 { position:relative; height:160px; background:#fff; width:100%; }
    .box-des3 { position:relative; height:300px; background:#fff; width:100%; } 
    .red-box  { font-size: 16px; }
}

@media all and (max-width: 991px) {
    .phone_no { width:auto; }
    .navbar{ background:#063732}  
    .banner-right{ border-bottom-left-radius:40px; border-top-left-radius:40px;   }

    .box-des  { position:relative; height:340px; background:#fff; width:100%; }
    .box-des2 { position:relative; height:140px; background:#fff; width:100%; }
    .box-des3 { position:relative; height:340px; background:#fff; width:100%; } 

    .banner-right { height: auto;max-width: 500px;margin-left: auto;margin-right: auto; }
    .main-banner-content{ margin: 20px 0 40px 0; }
}

@media all and (max-width: 767px) {
    .box-des  { position:relative; height:250px; background:#fff; width:100%; }
    .box-des2 { position:relative; height:140px; background:#fff; width:100%; }
    .box-des3 { position:relative; height:250px; background:#fff; width:100%; }
}

@media all and (max-width: 420px) {
    .box-des  { position:relative; height:300px; background:#fff; width:100%; }
    .box-des2 { position:relative; height:140px; background:#fff; width:100%; }
    .box-des3 { position:relative; height:250px; background:#fff; width:100%; }

    
    
}

.responsive-table li {margin-bottom: 1px;}

.faq-img{
    position: relative;
    border-radius: 20px;
    overflow: hidden; 
}





