/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/IndexPage/indexThreeGrid.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.card-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .card {
    background: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1000px;
    width: 100%;
  }
  
  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-item {
    text-align: center;
    flex: 1 1;
  }
  
  .vertical-line {
    width: 1px;
    background-color: #e0e0e0;
    height: 100px;
    margin: 0 20px;
  }
  
  .card-icon {
    font-size: 60px;
    color: #c08a43;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .text-grad {
    background-image: linear-gradient(45deg, #c08a43 0%, #dec372 99%, #dec372 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .card-text {
    color: #777;
    font-size: 1rem;
  }
  
